[default]
requires_sudo       = yes
manage_vip          = yes
writer_vip_cidr     = 192.168.1.155/24
writer_vip          = 192.168.1.155
cluster_interface   = eth0
report_email        = ovaistariq@gmail.com
slave_lag_threshold = 60
slave_check_listen_port = 9800

[db1]
cluster_conf_path   = /usr/local/mha-helper/conf/test_cluster.conf.sample

[db2]
cluster_conf_path   = /usr/local/mha-helper/conf/test_cluster.conf.sample

[db3]
cluster_conf_path   = /usr/local/mha-helper/conf/test_cluster.conf.sample

[db4]
cluster_conf_path   = /usr/local/mha-helper/conf/test_cluster.conf.sample
