
global_defs {
    notification_email {
        ovaistariq@gmail.com
    }

    notification_email_from keepalived@manager.mha_helper.com

    smtp_server 127.0.0.1
    smtp_connect_timeout 30

    lvs_id DBLB_MHA_HELPER
}

vrrp_script chk_haproxy {
    script "/usr/bin/killall -0 haproxy"
    interval 1
}

vrrp_instance VI_MHA_HELPER {
    state MASTER
    interface eth0
    virtual_router_id 51
    priority 100
    advert_int 1
    smtp_alert
    nopreempt

    # Slave virtual IP - this is the same IP that haproxy would
    # be listening on
    virtual_ipaddress {
        192.168.1.156/24
    }

    #track_script {
    #    chk_haproxy
    #}

    notify /usr/local/mha-helper/bin/keepalived-notify.sh
    notify_stop /usr/local/mha-helper/bin/keepalived-notify_stop.sh
}
